<%= form_tag order_status_path(:csv), method: "POST" do %>
<table style="width: 90%;">
  <tbody>
    <tr>
      <th>Date From</th>
      <th>Date To</th>
    </tr>
    <tr>
      <td>
        <%= text_field "order_status", "start_date", class: "datepicker" %><br />
      </td>
      <td>
        <%= text_field "order_status", "end_date", class: "datepicker" %>
      </td>
    </tr>

    <tr>
      <th colspan="2"><%= submit_tag 'Generate Order Status Report' %></th>
    </tr>
  </tbody>
</table>
<% end %>
