<h2></h2>

<h1>Welcome to the Rebate Tracker</h1>

	<h2>Product Type</h2>
	

<h3>Purchase Data</h3>

<thead>Vendor</thead> 
	<tr></tr>
	
<thead>Qty Awarded</thead>
	<tr></tr>
	
<thead>Master PO QTY</thead>
	<tr></tr>

<thead>Qty Received</thead>
	<tr></tr>
	
<thead>Qty on Order</thead>
	<tr></tr>

<thead>Qty Remain</thead>
	<tr></tr>

<thead>Rebate Acheived</thead>
	<tr></tr>

<thead>Rebate Target</thead>
	<tr></tr>

<thead>Qty to Target</thead>
	<tr></tr>


<h3>Item Purchase Data</h3>

<thead>Item #</thead> 
	<tr></tr>
	
<thead>Item Name</thead>
	<tr></tr>
	
<thead>Qty Awarded</thead>
	<tr></tr>

<thead>Master PO QTY</thead>
	<tr></tr>
	
<thead>Qty Received</thead>
	<tr></tr>

<thead>Qty Remain</thead>
	<tr></tr>

<thead>Qty on Order</thead>
	<tr></tr>

